<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>SubmitFormServlet</servlet-name>
        <servlet-class>SubmitFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitFormServlet</servlet-name>
        <url-pattern>/SubmitFormServlet</url-pattern>
    </servlet-mapping>
</web-app>
