/*  universal selector
    * {
        color: purple; 
    }
*/
h2.k{
    background-color: beige;
    text-align:center;
}

/* # for ids */
#p2{
    color: blue;
}
#p3{
    color: darkgreen;
}

/* .dot for classes */
.x{
    color: blueviolet;
}
p.y{
    color: coral;
}

h2 #u{
    color: aqua;
}

div h2{
    color: aqua;
}
/* 
A B → Select B that is inside A , has space 
A#id → Select element A that has ID id, dont have space 
*/
